
ion-card {
    margin: 20px;
}
  
ion-card-title {
    text-align: center;
}
  
  ion-button {
    margin-top: 20px;
}

.ion-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

