<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-button class="boton_inicio" routerLink="/home">Volver</ion-button>


<ion-card>
  <ion-card-header>
    <ion-card-title>Registrarse</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div>
      <ion-item>
        <ion-label position="floating">Nombre: </ion-label>
        <br>
        <ion-input id="nombre" type="char" placeholder="Hans"></ion-input>
        <ion-label position="floating">Apellidos: </ion-label>
        <br>
        <ion-input id="apellidos" type="char" placeholder="Malpartida Esparza"></ion-input>
        <ion-label position="floating">Ingrese su Email:</ion-label>
        <br>
        <ion-input id="email" type="email" placeholder="name@gmail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ingrese su Contraseña:</ion-label>
        <br>
          <ul>
            <li>La contraseña debe de tener de 12 a 14 caracteres.</li>
            <li>debe tener al menos 1 digito.</li>
            <li>debe tener al menos una letra.</li>
            <li>debe tener a menos 1 simbolo.</li>
          </ul>
        <br>
        <ion-input id="password" type="password" placeholder="Password.1234"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit">Registrarse</ion-button>
    </div>
  </ion-card-content>
</ion-card>