<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">recu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button class="boton_inicio" routerLink="/login">Volver</ion-button>
  <ion-card class="logeo-card">
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

</ion-content>
